@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #050505;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  /* Smooth scrolling disabled natively because we use Framer Motion */
}

/* Hide scrollbar for a seamless, cinematic feel */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
